build
coverage
dist
vendor
cache
node_modules
config
.htaccess
core
connectors
manager
app/assets/components/ace
app/assets/components/pdotools
app/assets/components/tinymce

*lock.yaml
*.d.ts

**/.env
**/.env.* 

**/libs/schematics/src/**/files/**

**/*.min.*